body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    width: 100%;

}

.main__wrapper {
    max-width: 1310px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

}

.main__form {
    width: 512px;

}

.main__form>h1 {
    font-weight: 700;
    line-height: 81px;
    font-size: 40px;
    line-height: 58px;
    padding-bottom: 40px;
}

h1>span {
    color: #1ED297;

}



p {
    font-size: 21px;
    color: #4E5A51;
    line-height: 160%;
    padding-bottom: 40px;
}

p>span {
    font-weight: bold;
}



.main__form_btn {
    width: 472px;
    background-color: #ffff;
    display: flex;
    /* justify-content: space-between; */
    filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
    border-radius: 6px;
    margin-bottom: 36px;
    position: relative;



}

input {
    font-weight: 400;
    font-size: 14px;
    padding: 21px;
    border-radius: 6px;

}

.btn {
    background-color: #F44545;
    padding: 9px 31px;
    border-radius: 6px;
    color: #ffff;
    font-size: 23px;
    position: absolute;
    left: 348px;
    bottom: 5px;
}

.google {
    padding-right: 30px;
    width: 100%;
}

.main__img {
    max-width: 739px;
}

@media (max-width: 600px) {
    .main__wrapper {
        display: flex;
        flex-direction: column;

    }

    .main__form, img {
        max-width: 100%;
    }



}